<div class="container">

  <%= simple_form_for(@message) do |f| %>
    <div class="col-10">
      <%= f.input :name, label: false, placeholder: 'Nom' %>
      <%= f.input :first_name, label: false, placeholder: 'Prénom' %>
      <%= f.input :email, label: false, placeholder: 'Adresse email' %>
      <%= f.input :message, label: false, placeholder: 'Votre Message' %>
      <%= f.submit 'Envoyer', class:'btn btn-info'%>
    </div>
  <% end %>
</div>
